@import "src/common/styles/sass/variables";

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  border: 1px solid $redColor;
  background-color: $backgroundColor;
  text-align: center;
  border-radius: 1rem;
  margin-bottom: 10px;

  .containerImg {
    height: 60px;
    width: 60px;
    transform: rotate(45deg);
    background-color: $redColor;
    margin-top: 15px;

    .icon {
      transform: rotate(-45deg);
      background-size: cover;
      background-position: center;
      height: 60px;
      width: 60px;
    }
  }
}


