@import "src/common/styles/sass/variables";

.container {
  margin-top: 20px;

  .title {
    font-family: $titleFontFamily;
    line-height: 1.618;
    font-weight: 700;
    color: $yellowColor;
    font-size: 16px;
    margin-top: 0;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .description {
    font-family: $baseFont;
    margin-top: 0;
    display: block;
    font-size: 16px;
    font-weight: 300;
    color: $textColor;
  }
}
