@import "src/common/styles/sass/variables";

.burherNav {
  display: flex;
  flex-direction: column;
  width: 300px;
  color: $textColor;
  font-family: $baseFont;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  .container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    .active {
      color: $yellowColor;
    }
    & a {
      font-weight: 600;
      font-size: 1.3rem;
      color: $textColor;
      line-height: 1.5em;
      text-decoration: none;
      transition: all 0.5s;
      @media (max-width: 650px) {
        font-size: 1rem;
      }
      @media (max-width: 350px) {
        font-size: 0.7rem;
      }
      &:hover {
        cursor: pointer;
        color: $primaryColor;
      }
    }
  }
}
