@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.skillsBlock {
  padding-bottom: 50px;
  height: 100%;
  background-color: $backgroundColor;

  .skillsContainer {
    @include containerOfItems();
    justify-content: flex-start;
    margin: 0 auto;

    .skills {
      @include blockOfItems(space-around);
      @media (max-width: 629px) {
        justify-content: center;
      }
    }
  }
}
