@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.contactsBlock {
  width: 100%;
  background-color: $backgroundColor;
  padding-bottom: 50px;

  .container {
    @include containerOfItems();
    margin: 0 auto;
    justify-content: center;

    .formContainer {
      display: flex;
      margin: 10px 0px;
      flex-direction: column;

      .error {
        margin-top: 0px;
        color: rgb(255, 49, 49);
        font-size: 14px;
        font-family: $baseFont;
      }

      .inputContainer {
        padding: 10px;
        input:-webkit-autofill,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:focus,
        input:-webkit-autofill:focus {
          border: 1px solid;
          -webkit-text-fill-color: $textColor;
          -webkit-box-shadow: 0 0 0px 1000px rgb(70, 70, 70) inset;
          transition: 0.5s linear;
        }

        .item {
          @include formCommonStyle();
        }

        & :focus {
          outline: none;
          box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.5), inset 0 0 0 60px rgba(0, 0, 0, 0), 0 1px rgba(255, 255, 255, 0.08);
        }
      }

      .messageContainer {
        padding: 10px;

        .message {
          height: 100px;
          @include formCommonStyle();
        }

        & :focus {
          outline: none;
          box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.5), inset 0 0 0 60px rgba(0, 0, 0, 0), 0 1px rgba(255, 255, 255, 0.08);
        }
      }
    }
  }
}
