@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.footerBlock {
  width: 100%;
  background-color: $backgroundColor;
  padding-bottom: 10px;

  .container {
    @include containerOfItems();
    margin: 0 auto;
    font-weight: bold;
    color: $textColor;

    & h3 {
      margin: 0;
    }

    .itemsContainer {
      display: flex;
      justify-content: space-between;
      width: 50%;
      padding: 10px;

      .item {
        height: 50px;
        width: 50px;
        background-size: cover;
        background-position: center;
        border-radius: 50%;

        &:hover {
          cursor: pointer;
          box-shadow: 0 0 10px 0 $primaryColor inset, 0 0 10px 1px $primaryColor;
        }

        @media (max-width: 629px) {
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}
