@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.footerBlock {
  width: 100%;
  background-color: $backgroundColor;
  padding-bottom: 10px;

  .container {
    @include containerOfItems();
    margin: 0 auto;
    font-weight: bold;
    color: $textColor;

    & h3 {
      margin: 0;
    }

    .itemsContainer {
      display: flex;
      justify-content: space-between;
      width: 50%;
      padding: 10px;

      .item {
        height: 50px;
        width: 50px;
        background-color: #a19776;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        box-shadow: inset rgba(0,0,0,.5) -3px -3px 8px,
        inset rgba(255, 255, 255, .9) 3px 3px 8px,
        rgba(0, 0, 0, .8) 3px 3px 8px -3px;

        &:hover {
          cursor: pointer;
          box-shadow: 0 0 0.1em 0.1em white inset;
        }

        @media (max-width: 629px) {
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}







