.mainBlock {
    height: 100vh;
    background-color: #fbc2cc;
}

.greetings {
    width: 300px;
    background-color: #fdfd96;
}

.avatarImage {
    width: 300px;
    height: 400px;
    background-color: lightslategray;
}

@media (max-width: 749px) {
    .avatarImage {
        height: 300px;
    }
    .greetings {
        font-size: 20px;
    }
}