@import "src/common/styles/sass/variables";

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid $redColor;
  height: 80px;
  background-color: $backgroundColor;
  position: fixed;
  width: 100%;
  z-index: 100;
  @media (max-width: 479px) {
    justify-content: center;
  }
}

