@import "../../../../common/styles/sass/variables.scss";
.containerImg {
  .styleImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("../../../../assets/images/language.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 10px 0 $primaryColor inset, 0 0 10px 1px $primaryColor;
    }

    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
  .rotateImage {
    animation-name: rotation;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    // animation-iteration-count: -1;
    animation-timing-function: linear;
  }
}
