@import "src/common/styles/sass/variables";

.nav {
  display: flex;
  color: $textColor;
  font-family: $baseFont;
  justify-content: space-between;
  margin-right: 5vh;
  width: 50vh;

  & a {
    font-weight: 600;
    font-size: 1rem;
    color: $textColor;
    line-height: 1.5em;
    text-decoration: none;
    transition: all 0.5s;
  }

  @media (max-width: 629px) {
    margin-left: 5vh;
  }
}
