.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    border: 1px solid greenyellow;
    background-color: #fdfd96;
    text-align: center;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
    background-color: #61dafb;
}
.button {
    height: 30px;
    min-width: 100px;
    font-size: 16px;
}
@media (max-width: 629px) {
    .project {
        margin-bottom: 10px;
    }
}