$textColor: #fff;
$primaryColor: #1ab394;
$backgroundColor: #2c2d30;
$redColor: #dc3545;
$yellowColor: #ffc107;
$titleFontFamily: "Poppins", sans-serif;
$baseFont: "Montserrat", sans-serif;
$mono: "JetBrains Mono", monospace;