$textColor: #fff;
$primaryColor: #1ab394;
$backgroundColor: #0000004C;
$bjItems: #333030;
$redColor: #d81746;
$yellowColor: #ffc107;
$titleFontFamily: "Poppins", sans-serif;
$baseFont: "Montserrat", sans-serif;
$mono: "JetBrains Mono", monospace;