.footerBlock {
    width: 100%;
    background-color: #ffc5d3;
}

.container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    border: 1px solid;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.itemsContainer {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    width: 50%;
}

.item {
    height: 50px;
    width: 50px;
    background-color: #a19776;
}
@media (max-width: 629px) {
    .item {
        height: 30px;
        width: 30px;
    }
}